.crew {
    min-height: 100vh;
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.crew .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.crew .content .all {
    display: flex;
    flex-direction: column;
}

.crew .image img {
    width: 177px;
    height: 220px;
    max-width: 100%;
}

.crew .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #383B4B;
}



.crew .image p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.crew b {
    color: white !important;
}

.crew ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.crew ul li {
    list-style: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #979797;
    margin: 10px;
}

.crew .active {
    background-color: white;
}

.crew ul li:hover {
    background-color: #D0D6F9;
}

.crew .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.crew .role {
    color: #979797;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.crew h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

.crew .bio {
    color: #D0D6F9;
    font-size: 15px;
}

@media (min-width: 400px) {
    .crew .content {
        padding-bottom: 0;
    }

    .crew .info {
        order: 1;
    }

    .crew ul {
        order: 2;
    }

    .crew .image {
        order: 3;
        border-bottom: none;
    }

    .crew .image img {
        width: 400px;
        height: 500px;

    }
}

@media (min-width: 769px) {
    .crew .content {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 100px;
        width: 100%;
    }

    .crew .content .all {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 100%;
        padding: 0 40px;
    }

    .crew h3 {
        font-size: 2.5rem;
    }

    .crew .info {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
    }

    .crew ul {
        order: 2;
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 50px;
    }

    .crew .image {
        width: 100%;
    }

    .crew .image img {
        width: 500px;
        height: 535px;
    }
}